<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style type="text/css">
      html, body {
        margin: 0;
        padding: 0;
        background: transparent;
      }
    </style>
  </head>
  <body>
    <div id="main"></div>
  </body>
</html>
